.game-field__table {
  border-spacing: 0;
  border-collapse: collapse;
}

.game-field__list {
  padding: 0;
  border: 2px white solid;
  border-left-color: #808080;
  border-top-color: #808080;
  margin: 10px 0;
}
